// 这里引入通用的颜色
@import '../../style/theme.scss';
.swiper-container{
  width: 100vw;
  height: 630rpx;
  position: relative;
  swiper{
    height: 100%;
    image{
      width: 100%;
      height: 100%;
      // 下面有一点的弧度
      border-bottom-left-radius: 20rpx;
      border-bottom-right-radius: 20rpx;
    }
  }
  // 固定的区域，轮播图里面的切换图片的小标识
  .dots{
    position: absolute;
    left: 50rpx;
    bottom: 58rpx;
    // 这样的话下面的 dot 小圆圈就可以按照flex进行排布
    display: inline-flex;
    .dot{
      width: 8rpx;
      height: 8rpx;
      background-color: #fff;
      opacity: .5;
      // 因为上面是正方块，所以这里应该是半径 4rpx 的圆
      border-radius: 4rpx;
      // 每个小圆的间隔是 4rpx
      margin-left: 4rpx;
      // 1s 过渡
      transition: all 1s;
      &:active {
        // 如果是被选中状态的话，那么这里就会从圆变成一个条状的切换样式
        width: 29rpx;
        opacity: 1;
      }
    }
  }
}
.member-area{
  margin-top: -40rpx;
  z-index: 2;
  overflow: hidden;
  width: 688rpx;
  height: 174rpx;
  border-radius: 16rpx;
  background-color: #fefefe;
  // 给盒子一个阴影
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  display: flex;
  // 将盒子里面元素在同一行排布
  flex-direction: row;
  // 排布在盒子的两端
  justify-content: space-between;
  align-items: center;
  // 使图标显示在中间位置
  padding: 0 20rpx;
  // 这样防止盒子因为 padding 变大
  box-sizing: border-box;
  .vip-box{
    display: flex;
    image{
      width: 100rpx;
      height: 100rpx;
      border-radius: 50rpx;
      overflow: hidden;
      margin-right: 26rpx;
      // 这样不会在空间不够的情况下使图片变形，默认情况下是1，空间不够自动缩小
      flex-shrink: 0;
    }
    .meta{
      .title{
        font-size: 32rpx;
        font-weight: bold;
        margin-bottom: 18rpx;
      }
      .tips{
        margin-top: 14rpx;
        // 这里修改一下颜色的值
        // color:#777777
        color: $gray-text-color;
        font-size: 24rpx;
      }
    }
  }
  .coin-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -23rpx;
    image{
      width: 130rpx;
      height: 70rpx;
    }
    .currency{
      color: #d32d25;
      margin-left: 26rpx;
      font-weight: bold;
    }
  }
  //登录按钮样式
  .login-btn{
    width: 150rpx;
    height: 65rpx;
    border-radius: 10rpx;
    background-color: $primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25rpx;
    &active{
      opacity: 0.6;
    }
  }
}